.navbar-component{
    position:sticky;
    top: 0;

    background-color: #89BCD9;
    width:1440px;
    height: 104px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

.navbar{   
   width: 677px;
   height: 26px;
   display:flex;
   gap: 32px;

    a{
        color: black;
        height: 31px;
        text-decoration: none;

        font-family: 'Josefin Sans';
        font-size: 26px;
    }
}

.navbar-component-switchlanguage{
    display: flex;
    gap: 16px;

    button{
        background-color: #89BCD9;
        border:none;

        font-family: 'Josefin Sans';
        font-size: 16px;
    }

 
}

@media screen and (max-width: 1470px) {
    .navbar-component{
        width: 1200px;
    }
    
    
    .navbar-component-logo{
        display: none;
    }

    .navbar{
        width:auto
    }
}

