.single-project-content{
    display: flex;
}



.single-project-description-detail{
    display: flex;
    flex-direction: column;
    padding-left: 15px;

    h4 {
        font-size: 28px;
        color: #F8F5EC;
    }
    img{
        width: 26px;
        height: 26px;
    }

   
}
.single-project-description-detail-title{
    display: flex;
    align-items: center;
    gap: 16px;
}

.single-project-description-detail-content{
    padding-left: 42px;
    width: 90%;

    span{
        color: #F8F5EC;
    }

}

.single-project-details{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-right: 16px;

    p{
        color: #F8F5EC;
        padding-bottom: 8px;
    }
}

.single-project-details-pictureProject{
    width: 455px;
    height: 315px;
    padding-bottom: 32px;
    padding-top: 32px;
}

.single-project-details-programmlanguage{
    display: flex;
    gap: 32px;
}

.single-project-details-testingButtons{
    display: flex;
    gap: 32px;
}