<div class="single-project-content">
    <div class="single-project-description">

        <div class="single-project-description-detail">
            
            <div>
                <img src="/img/myprojects/Ellipse 8.png" alt="my-projects-anfürhrungszeichen">
                <h4>About the Project</h4>
                <span>{{project.content.aboutTheProject}}</span>
            </div>
            
            <img src="/img/myprojects/Ellipse 8.png" alt="my-projects-anfürhrungszeichen">
            <div>
                <h4>My Work Organisation</h4>
                <span>{{project.content.organisation}}</span>
            </div>

            <img src="/img/myprojects/Ellipse 8.png" alt="my-projects-anfürhrungszeichen">
            <div>
                <h4>What i learned</h4>
                <span>{{project.content.whatILearned}}</span>
            </div>


        </div>
    </div>
    <div class="single-project-details">
        <p>{{project.technologies}}</p>
        <p>{{project.images}}</p>
        <div class="single-project-test-project">
            <p>{{project.github}}</p>
            <p>{{project.livetest}}</p>
        </div>
    </div>
</div>