<div class="single-project-content">
    <div class="single-project-description">
        <p>{{project.content.aboutTheProject}}</p>
        <p>{{project.content.organisation}}</p>
        <p>{{project.content.whatILearned}}</p>
    </div>
    <div class="single-project-details">
        <p>{{project.technologies}}</p>
        <p>{{project.images}}</p>
        <div class="single-project-test-project">
            <p>{{project.github}}</p>
            <p>{{project.livetest}}</p>
        </div>
    </div>
</div>