<div class="above-the-fold-resp-menue">
    <img class="burger-menue" src="/img/abovethefold/symple menu.png" alt="Burger-Menü" (click)="toggleMenu()">
</div>


<div class="above-the-fold-portrait">
    <img src="/img/abovethefold/portrait.png" alt="Portrait">
    <div *ngIf="isMenuVisible" class="menu-dropdown">
        <app-navbar-responsive></app-navbar-responsive>
    </div>
</div>



<app-above-the-fold></app-above-the-fold>
<app-why-me></app-why-me>
<app-my-skills></app-my-skills>
<app-my-projects></app-my-projects>
<app-what-my-colleguas-say></app-what-my-colleguas-say>
<app-contact-me></app-contact-me>