.above-the-fold-container {
    width: 1440px;
    height: 100vh;
    display: flex;
    align-items: center;
    margin: auto;
    gap: 64px;

    h1 {
        font-family: Anta;
        font-size: 88px;
        color: #F8F5EC;
        text-align: center;
    }

    h2 {
        font-family: Anta;
        font-size: 40px;
        color: #F8F5EC;
        text-align: center;
    }
}

.above-the-fold-portrait {
    background-image: url('/img/abovethefold/Property 1=Default.png');
    background-repeat: no-repeat;
    width: 600px;
    height: 619px;
    overflow: hidden;
    position: relative;
    border-radius: 50%;

    img {
        width: 500px;
        height: 710px;
    }
}

.above-the-fold-name {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
        margin-bottom: 16px;
        width: 130px;
        height: 130px;
    }
}

.above-the-fold-myreversions {
    display: flex;
    height: 80%;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}


.above-the-fold-arrowpicture {
    width: 38px !important;
    height: 89px !important;
}


@media screen and (max-width: 1470px) {
    .above-the-fold-container {
        width: 1200px;
        gap: 32px;
        margin: 0;

        h1 {
            font-size: 66px;
        }

        h2 {
            font-size: 30px;
        }
    }
}

.above-the-fold-resp-menue {
    display: none;
}

@media screen and (max-width: 1230px) {
    .above-the-fold-container {
        width: auto;
        gap: 32px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .above-the-fold-myreversions {
        display: none;
    }

    .above-the-fold-name {
        img {
            display: none;
        }
    }

    .above-the-fold-resp-menue {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 800px;

        .logo {
            width: 130px;
            height: 130px;
        }

        .burger-menue {
            width: 42px;
            height: 42px;

        }
    }

    .menu-dropdown {
        width: 100%;
        height: auto;
        z-index: 9999;
        display: flex;
        align-items: center;
        justify-content: space-around;
        overflow: hidden;
        position: absolute;
        top: 0;
        width: 600px;
        height: 619px;

    }
}

@media screen and (max-width: 850px) {
    :host{
        width: 610px;
    }
    .above-the-fold-resp-menue{
        width: 100%;
    }
 }

 @media screen and (max-width: 640px) {
    :host{
        width: 450px;;
    }
   
    .above-the-fold-portrait{
        width: 450px;
        height: 470px;
        background-size: contain;
    }
 }

 @media screen and (max-width: 500px) {
    :host{
        width: 310px;
    }
    .above-the-fold-portrait{
        width: 310px;
        height: 303px;
        background-position: center;

        img{
            width: 270px;
            height: 285px;
            object-fit: cover;
            transform: scale(1.09);
        };
    }
 }