.above-the-fold-container {
    max-width: 1440px;
    height: 100vh;
    display: flex;
    align-items: center;
    margin: auto;
    gap: 64px;

    h1 {
        font-family: Anta;
        font-size: 80px;
        color: #F8F5EC;
        text-align: center;
    }

    h2 {
        font-family: Anta;
        font-size: 40px;
        color: #F8F5EC;
        text-align: center;
    }
}

.above-the-fold-portrait {
    background-image: url('/img/abovethefold/Property 1=Default.png');
    background-repeat: no-repeat;
    height: 619px;
    overflow: hidden;
    position: relative;
    border-radius: 50%;

    img {
        width: 550px;
        height: 710px;
        border-radius: 50%;
    }
}

.above-the-fold-name {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
        margin-bottom: 16px;
        width: 130px;
        height: 130px;
    }
}

.above-the-fold-myreversions {
    display: flex;
    height: 80%;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}


.above-the-fold-arrowpicture {
    width: 38px !important;
    height: 89px !important;
}

.above-the-fold-resp-menue {
    display: none;
}

.above-the-fold-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

@media screen and (max-width: 1470px) {
    .above-the-fold-container {
        gap: 32px;
        margin: 0;

        h1 {
            font-size: 66px;
        }

        h2 {
            font-size: 30px;
        }
    }
}

@media screen and (max-width: 1230px) {
    .above-the-fold-container {
        gap: 32px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .above-the-fold-myreversions {
        display: none;
    }

    .above-the-fold-name {
        img {
            display: none;
        }
    }

    .above-the-fold-resp-menue {
        display: flex;
        justify-content: space-around;
        align-items: center;


        .logo {
            width: 130px;
            height: 130px;
        }

        .burger-menue {
            width: 42px;
            height: 42px;

        }
    }

    .menu-dropdown {
        width: 100%;
        height: auto;
        z-index: 9999;
        display: flex;
        align-items: center;
        justify-content: space-around;
        overflow: hidden;
        position: absolute;
        top: 0;
        width: 600px;
        height: 619px;
    }
}

@media screen and (max-width: 850px) {
    .above-the-fold-resp-menue {
        position: sticky;
        top: 0;
        z-index: 9999;
    }

    .above-the-fold-portrait {
        width: 600px;
        height: 573px;
    }

    .menu-dropdown {
        width: 630px;
        height: 590px;
    }
}

@media screen and (max-width: 640px) {
    .above-the-fold-portrait {
        width: 450px;
        height: 470px;
        background-size: contain;
    }

    .menu-dropdown {
        width: 450px;
        height: 470px;
    }
}

@media screen and (max-width: 500px) {
    :host {
        display: flex;
        align-items: flex-start;
    }

    .above-the-fold-navbar-respo{
        display: flex;
        align-items: flex-start;
    }

    .above-the-fold-container {
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
        font-family: Anta;
        font-size: 60px;
        color: #F8F5EC;
        text-align: center;
    }
    }

    .above-the-fold-portrait {
        width: 280px;
        height: 300px;
        background-position: center;

        img {
            width: 260px;
            height: 285px;
            object-fit: cover;
            transform: scale(1.07);
            border-radius: 20%;
        }
    }
    .menu-dropdown {
        width: 295px;
        height: 310px;
    }
}