<div class="above-the-fold-container">

    <div class="above-the-fold-portrait">
        <img src="/img/abovethefold/portrait.png" alt="Portrait">
    </div>
    <div class="above-the-fold-name">
        <img src="/img/abovethefold/logo.png">
        <h1>{{ 'abovethefold.name' | translate }}</h1>
        <h2>{{ 'abovethefold.role' | translate }}</h2>
        <img id="button-arrow" class="above-the-fold-arrowpicture" src="/img/abovethefold/arrow.png" alt="">
    </div>
    <div class="above-the-fold-myreversions">
        <a href="mailto:contact@elias-herzog.de" target="_blank">
            <img src="/img/abovethefold/email.png"  alt="email button">
        </a>
        <a href="https://github.com/herzogelias/" target="_blank">
            <img src="/img/abovethefold/github.png" alt="gituhb button">
        </a>
        <a href="https://www.linkedin.com/in/elias-herzog-2b865728a/" target="_blank">
            <img src="/img/abovethefold/likedin.png" alt="linkedin button">
        </a>
    </div>
    </div>

 
<app-navbar></app-navbar>