<div class="my-projects-component">
    <h3>My Projects</h3>
    <div class="my-projects-content">
        <div class="my-projects-navbar">
        <span>1. Sharky Game </span>
        <span> 2. JOIN </span>
        
        </div>

        <div class="my-projects-projects">
            <div class="my-projects-projects-description">
                    @for (item of projectnavbar; track $index) {
                    <div>
                  <p>{{item}}</p>
                    </div>
                    }
                  </div>
            </div>

            <div class="my-projects-projects-images">
                Hier kommt ein wunderschönes Projekt rein 
            </div>
        </div>
    </div>

