<div class="my-projects-component">
    <h3>My Projects</h3>
    <div class="my-projects-content">
        <div class="my-projects-navbar">
        <span>1. Sharky Game </span>
        <span> 2. JOIN </span>
        
        </div>

        <div class="my-projects-projects">
            <div class="my-projects-projects-description">
                Round about but i can say i love you
            </div>

            <div class="my-projects-projects-images">
                Hier kommt ein wunderschönes Projekt rein 
            </div>
        </div>
    </div>

</div>