:host {
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-projects-component {
    width: 1440px;

    h3 {
        font-family: Anta;
        font-size: 60px;
        font-weight: 400;
        color: #89BCD9;
        text-align: center;
        margin-bottom: 20px;
    }
}

.my-projects-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.my-projects-projects {
    display: flex;
    align-items: center;
    color: white;
    width: 1440px;
}

.my-projects-navbar {
    display: flex;
    width: 300px;
    align-items: center;


    p {
        color: #89BCD9;
        font-family: 'Josefin Sans';
        font-weight: 500;
        font-size: 30px;
        padding-left: 15px;
    }


    &.active {
        background-color: #2D383F;

        p {
            color: white;
        }
    }
}

.my-projects-projects-description {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px
}

.my-projects-projects-activeproject {
    background-color: #2D383F;
}

@media screen and (max-width: 1470px) {
    .my-projects-component {
        width: 1200px;
    }

    .my-projects-projects {
        width: 1200px;
    }
}

@media screen and (max-width: 1230px) {
    .my-projects-component {
        width: 800px;
    }

    .my-projects-projects {
        width: 800px;
    }
}

@media screen and (max-width: 850px) {
    .my-projects-component {
        width: 610px;
    }

    .my-projects-projects {
        width: 610px;
    }
}

@media screen and (max-width: 640px) {
    :host {
        justify-content: flex-start;
    }

    .my-projects-component {
        width: 450px !important;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .my-projects-projects {
        width: 450px;
    }

    .my-projects-navbar {
        width: 150px;
        height: 72px;
    }
}

@media screen and (max-width: 500px) {
    :host{
        width: 310px !important;
    }
    .my-projects-component{
        width: 310px !important;
        justify-content: flex-start;
        align-items: flex-start;
        h3{
            font-size: 45px;
            font-weight: 300;
        }
    }
    .my-projects-projects{
        width: 310px;
    }
}