:host {
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-projects-component {
    max-width: 1440px;
    scroll-margin-top: 130px;

    h3 {
        font-family: Anta;
        font-size: 60px;
        font-weight: 400;
        color: #89BCD9;
        text-align: center;
        margin-bottom: 20px;
    }
}

.my-projects-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.my-projects-projects {
    display: flex;
    align-items: center;
    color: white;
    max-width: 1440px;
}

.my-projects-navbar {
    display: flex;
    width: 300px;
    align-items: center;
    cursor: pointer;


    p {
        color: #89BCD9;
        font-family: 'Josefin Sans';
        font-weight: 500;
        font-size: 30px;
        padding-left: 15px;
    }


    &.active {
        background-color: #2D383F;

        p {
            color: white;
        }
    }
}

.my-projects-projects-description {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px
}

.my-projects-projects-activeproject {
    background-color: #2D383F;
}


@media screen and (max-width: 640px) {
    :host {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .my-projects-navbar {
        width: 150px;
        height: 72px;
    }
}

@media screen and (max-width: 500px) {
    :host {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 64px;
    }

    .my-projects-component {
        justify-content: center;
        align-items: center;
        scroll-margin-top: 60px;

        h3 {
            font-size: 45px;
            font-weight: 300;
        }
    }

    .my-projects-projects-description {
        gap: 0;
    }
}