<form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
  <div class="contactForm-textinputs">

    <!-- NAME -->
    <div class="form-group">
      <label for="name">Name</label>
      <input
        [(ngModel)]="contactData.name"
        name="name"
        type="text"
        id="name"
        required
        #nameRef="ngModel">
      
      @if (!nameRef.valid && nameRef.touched) {
        <span class="error">Bitte gib deinen Namen ein</span>
      }
    </div>

    <!-- EMAIL -->
    <div class="form-group">
      <label for="email">Email</label>
      <input
        [(ngModel)]="contactData.email"
        name="email"
        type="text"
        id="email"
        required
        pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
        #emailRef="ngModel">
      
      @if (!emailRef.valid && emailRef.touched) {
        <span class="error">Bitte gib eine gültige Email-Adresse ein</span>
      }
    </div>

  </div>

  <!-- MESSAGE -->
  <div class="form-group">
    <label for="message">Nachricht</label>
    <textarea
      [(ngModel)]="contactData.message"
      name="message"
      id="message"
      required
      #messageRef="ngModel"></textarea>

    @if (!messageRef.valid && messageRef.touched) {
      <span class="error">Bitte gib eine Nachricht ein</span>
    }
  </div>

  <!-- PRIVACY CHECKBOX -->
  <div class="contact-accepttion"> 
    <div class="privacy-contact">
      <input
        type="checkbox" 
        name="privacyAccepted"          
        [(ngModel)]="privacyAccepted"    
        id="privacyAccepted" 
        class="checkbox"
        required>                   
      <label for="privacyAccepted">
        {{ 'contact.privacy.eins' | translate }}
        <a [routerLink]="['/privacy']">{{ 'contact.privacy.zwei' | translate }}</a>
      </label>
    </div>

      <div>
    <input 
      type="submit" 
      value="Submit" 
      class="inputsubmit"
      [disabled]="!contactForm.valid || !privacyAccepted">
  </div>
  </div>


</form>

<div 
  class="contact-thankyou-overlay" 
  [ngClass]="{ 'visible': thankYouVisible, 'hidden': !thankYouVisible }">
  <div class="contact-thankyou">
    <h3>Danke für Ihre Nachricht. Ich melde mich bei Ihnen.</h3>
    <h3>Thank you for your message. I will answer you as soon as possible.</h3>
  </div>
</div>

