<div class="contactForm-section">
    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
      <div class="contactForm-textinputs">
        <div class="form-group">
          <label for="name">Name</label>
          <input [(ngModel)]="contactData.name" name="name" type="text" id="name" required>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input [(ngModel)]="contactData.email" name="email" type="text" id="email" required>
        </div>
      </div>
  
      <div class="form-group">
        <label for="message">Subject</label>
        <textarea [(ngModel)]="contactData.message" name="message" id="message" required></textarea>
      </div>
  
      <div class="form-group">
        <input type="checkbox" 
               name="privacyAccepted"          
               [(ngModel)]="privacyAccepted"    
               id="privacyAccepted" 
               class="checkbox"
               required>                    
        <label for="privacyAccepted">Ich akzeptiere die Datenschutzverordnung</label>
      </div>
  
      <div class="form-group">
        <input 
          type="submit" 
          value="Submit" 
          [disabled]="!contactForm.valid || !privacyAccepted">
      </div>
    </form>
  </div>
  
