<div class="why-me-component" id="whyme">
    <h3> {{'whyMe.header'|translate}} </h3>
    <div class="why-me-content">
        <div class="why-me-located">
            <img src="/img/whyme/icon.png" alt="">
            <span>{{'whyMe.location'|translate}}</span>
        </div>
        <div class="why-me-text">
            <span> {{'whyMe.text'|translate}}</span>
            

            <div class="why-me-contact">
                <a href="#contact">
                    <button>{{'whyMe.contactButton'|translate}}</button>
                </a>
            </div>
            
        </div>
    </div>
</div>