<div class="why-me-component" id="whyme">
    <div class="why-me-title">
        <h3> {{'whyMe.header'|translate}} </h3>
    </div>
    <div class="why-me-content" data-aos="fade-right", data-aos-offset="700">
        <div class="why-me-located">
            <img src="/img/whyme/icon.png" alt="">
            <span>{{'whyMe.location'|translate}}</span>
        </div>
        <div class="why-me-text">
            <span> {{'whyMe.text'|translate}}</span>


            <div class="why-me-contact">
                <a href="#contact">
                    <button>{{'whyMe.contactButton'|translate}}</button>
                </a>
            </div>

        </div>
    </div>
</div>