.why-me-component {
    display: flex;
    max-width: 1440px;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    scroll-margin-top: 130px;

    h3 {
        font-family: Anta;
        font-size: 60px;
        font-weight: 400;
        color: #89BCD9;
        text-align: center;
        margin-bottom: 20px;
    }
}

.why-me-content {
    display: flex;
    width: 100%;
}

.why-me-located {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;

    img {
        width: 74px;
        height: 63px;
    }

    span {
        font-size: 30px;
        font-weight: 700;
        color: #F8F5EC;
        font-family: 'Josefin Sans';
    }
}

.why-me-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;

    span {
        color: #F8F5EC;
        font-family: 'Josefin Sans';
        font-weight: 400;
        font-size: 18px;
    }

    button {
        background-color: #89BCD9;
        color: #1a1a1a;
        border: none;
        padding: 10px 24px;
        border-radius: 999px;
        cursor: pointer;
        font-family: 'Josefin Sans';
        font-weight: 400;
        font-size: 18px;

        &:hover {
            background-color: #78AAC6;
        }
    }

    font-family: 'Josefin Sans';
    font-weight: 400;
    font-size: 18px;

}

a {
    text-decoration: none;
}


.why-me-contact {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-top: 35px;

}

@media screen and (max-width: 1470px) {
    .why-me-content {
        flex-direction: column;
        align-items: center;
    }
}


@media screen and (max-width: 640px) {
    :host {
        display: flex;
        align-items: center;
    }

    .why-me-component {
        margin: 0;
    }


    .why-me-located {
        margin-top: 16px;
        margin-bottom: 32px;
        height: auto;
    }
}

@media screen and (max-width: 500px) {
    :host {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;


    }

    .why-me-component {
        scroll-margin-top: 100px;

        h3 {
            font-size: 40px;
            font-weight: 300;
            text-align: center;
            
        }
    }

    .why-me-content {
        padding-right: 8pxc;
    }

    .why-me-text {
        padding-left: 8px;
        padding-right: 8px;
        height: auto;
    }

    .why-me-located {
        margin-top: 12px;
        margin-bottom: 24px;
    }

    .why-me-contact {
        display: none;
    }
}