.why-me-component {
    display: flex;
    width: 1440px;
    justify-content: center;
    flex-direction: column;
    margin: auto;

    h3 {
        font-family: Anta;
        font-size: 60px;
        font-weight: 400;
        color: #89BCD9;
        text-align: center;
        margin-bottom: 20px;
    }
}

.why-me-content {
    display: flex;
    width: 100%;
}

.why-me-located {
    width: 50%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 74, 43px;
        height: 63, 28px;
    }

    span {
        font-size: 30px;
        font-weight: 700;
        color: #F8F5EC;
        font-family: 'Josefin Sans';
    }
}

.why-me-text {
    width: 50%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    span{
      color:#F8F5EC;
      font-family: 'Josefin Sans';
      font-weight: 400;
      font-size: 18px;
    }

    button{
        width: 134px;
        height: 48px;
        background-color: transparent;
        color: #89BCD9;
        border: 1px solid #89BCD9;
        border-radius: 30%;
        display: flex;
        align-items: center;
        justify-content: center;

        font-family: 'Josefin Sans';
        font-weight: 400;
        font-size: 18px;
    
    }

    a{
        text-decoration: none;
    }
}

.why-me-contact{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    padding-top: 35px;

}

@media screen and (max-width: 1470px) {
    .why-me-component {
        width: 1200px;
    }
    .why-me-content{
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 1230px) {
   .why-me-component{
    width: 800px;
   }
}
