<div class="why-me-component">
    <h3> Why me ? </h3>
    <div class="why-me-content">
        <div class="why-me-located">
            <img src="/img/whyme/icon.png" alt="">
            <span>Wohnhaft in Marienheide</span>
        </div>
        <div class="why-me-text">
            <span>
                Ich bin motiviert, meine Skills stetig zu erweitern und mich kontinuierlich in neue Technologien
                einzuarbeiten.
                Es ist faszinierend, wie schnell sich die Welt verändert, und ich will mit dieser Dynamik Schritt
                halten.
                Jede neue Fähigkeit, die ich erlerne, bringt mich nicht nur beruflich weiter, sondern lässt mich auch
                persönlich wachsen.
                Ich freue mich darauf, immer wieder neue Herausforderungen anzunehmen und aus jedem Schritt zu lernen.
                Es gibt so viel, das ich entdecken kann, und ich bin entschlossen, meine Expertise genau dort
                einzubringen, wo sie den größten Unterschied macht!
            </span>
        </div>
    </div>
</div>