:host {
    display: block;
    position: fixed;
    top: 0;
    z-index: 1000;
    background: #89BCD9;
    border-radius: 50px;
}

button.active-lang {
    background-color: white;
    color: blue;
}

.navbar {
    display: flex;
    align-items: center;
    flex-direction: column;

    a {
        color: black;
        height: 31px;
        text-decoration: none;

        font-family: 'Josefin Sans';
        font-size: 26px;
        margin-top: 16px;
    }
}

button {
    background-color: #89BCD9;
    border: none;

    font-family: 'Josefin Sans';
    font-size: 16px;
}

.above-the-fold-resp-menue {
    right: 16px;
    margin-top: 16px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 16px;
    position: fixed;
    top: 0;
    z-index: 1000;
}

@media screen and (min-width: 1230px) {
    :host {
        display: none;
    }
}

@media screen and (max-width: 1230px) {
    .navbar-respo-component {
        background-image: url('/img/navbar_repo/Property 1=Default.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 600px;
        height: 620px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media screen and (max-width: 850px) {
    .navbar-respo-component {
        background-image: url('/img/navbar_repo/Property 1=Default.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 600px;
        height: 573px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media screen and (max-width:640px) {
    .navbar-respo-component {
        background-image: url('/img/navbar_repo/Property 1=Default.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 450px;
        height: 470px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

}


@media screen and (max-width: 500px) {
    .navbar-respo-component {
        background-image: url('/img/navbar_repo/Property 1=Default.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 100vw;
        max-width: 100%;
        height: 310px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-sizing: border-box;
    }

    .navbar-component-logo {
        display: none;
    }
}