:host{
    display: none;
}

button.active-lang {
    background-color: white;
    color: blue;
  }

@media screen and (max-width: 1230px) {
    :host{
        display: flex;
    }
    .navbar-respo-component{
        background-image: url('/img/navbar_repo/Property 1=Default.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 600px;
        height: 620px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
