:host {
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-skills-component {
    max-width: 1440px;
    justify-content: center;
    flex-direction: column;
    scroll-margin-top: 130px;

    h3 {
        font-family: Anta;
        font-size: 60px;
        font-weight: 400;
        color: #89BCD9;
        text-align: center;
        margin-bottom: 20px;
    }
}

.my-skills-content {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 40px;
}

.my-skills-icons {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;

    img {
        width: 50px;
        height: 50px;
        object-fit: contain;
    }

    p {
        color: #89BCD9;
        width: 50px;
        text-align: center;
    }
}

.my-skills-learningprogramming {
    background-image: url('/img/myskills/Ellipse BG.png');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 375px;
    height: 400px;

}

.my-skills-learningprogramming-detail {
    width: 80%;
    color: #FFFDFD;
    font-family: 'Josefin Sans';
    font-size: 18px;
    text-align: center;
}

.my-skills-learningprogramming-icons {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.my-skills-learningprogramming-respo {
    display: none !important;
}

.skill-item{
    width: 60px;
    height: 80px;

    p{
            font-family: 'Josefin Sans';
    }
}

@media screen and (max-width: 850px) {
    .my-skills-component {
        margin-top: 64px;
    }

    .my-skills-content {
        flex-direction: column;
        align-items: center;
    }

    .my-skills-learningprogramming {
        display: none !important;
    }

    .my-skills-learningprogramming-respo {
        display: flex !important;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: auto;

        h5 {
            color: #89BCD9;
            font-family: Josefin Sans;
            font-size: 16px;

        }
    }

    .my-skills-learningprogramming-respo-title {
        text-align: center;
        color: #FFFDFD;
        font-family: 'Josefin Sans';
        font-size: 16px;
    }

    .my-skills-learningprogramming-respo-content {
        display: flex;
        gap: 16px;
    }

    .my-skills-learningprogramming-respo-programming {
        background-image: url("/img/myskills/Ellipse%2024.png");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;
    }
}

@media screen and (max-width: 640px) {
    :host {
        display: flex;
        justify-content: center;
        align-content: center;
        margin: auto;
    }

    .my-skills-component {
        display: flex;
    }

}

@media screen and (max-width: 500px) {
    :host {
        display: flex;
        justify-content: center;
    }

    .my-skills-component {
        scroll-margin-top: 60px;

        h3 {
            font-size: 45px;
            font-weight: 300;
        }
    }

    .my-skills-icons {
        width: 290px;
    }

    .my-skills-learningprogramming-respo-content {
        margin-top: 16px;
        gap: 8px;
    }

    .my-skills-learningprogramming-respo-programming {
        background-size: contain;
    }

}