<div class="my-skills-component" id="skills">
  <h3>{{'mySkills.header'|translate}}|</h3>

  <div class="my-skills-content">
    <div class="my-skills-icons">
      @for (item of iconsFrondend; track $index) {
      <div>
        <img [src]="item" alt="Skill {$index}">
      </div>
      }
    </div>

    <div class="my-skills-learningprogramming">
      <div class="my-skills-learningprogramming-detail">
      <div>
        <p>{{'mySkills.learningProgramming.title'|translate}}</p>
      </div>

      <div class="my-skills-learningprogramming-icons">
        <img src="/img/myskills/terminal.png" alt="terminal">
        <img src="/img/myskills/itsec.png" alt="it security">
      </div>

      <div>
        <p>{{'mySkills.learningProgramming.goal'|translate}}</p>
      </div>
    </div>
    </div>
  </div>
</div>