<div class="my-skills-component" id="skills" data-aos="fade-right, data-aos-offset=00">
  <div class="my-skills-title">
    <h3>{{'mySkills.header'|translate}}</h3>
  </div>
 

  <div class="my-skills-content">
    <div class="my-skills-icons">
      @for (item of iconsFrondend; track $index) {
      <div data-aos="flip-down">
        <img [src]="item" alt="Skill {$index}">
      </div>
      }
    </div>
    <div class="my-skills-learningprogramming-respo">
      <h5>{{'mySkills.learningProgramming.title'|translate}}</h5>
      <div class="my-skills-learningprogramming-respo-content">
        <div class="my-skills-learningprogramming-respo-title">
          {{'mySkills.learningProgramming.goal'|translate}}
        </div>
        <div class="my-skills-learningprogramming-respo-programming">
          <img src="/img/myskills/terminal.png" alt="terminal">
          <img src="/img/myskills/itsec.png" alt="it security">
        </div>
      </div>
    </div>
    <div class="my-skills-learningprogramming">
      <div class="my-skills-learningprogramming-detail">
        <div>
          <p>{{'mySkills.learningProgramming.title'|translate}}</p>
        </div>

        <div class="my-skills-learningprogramming-icons">
          <img src="/img/myskills/terminal.png" alt="terminal">
          <img src="/img/myskills/itsec.png" alt="it security">
        </div>

        <div>
          <p>{{'mySkills.learningProgramming.goal'|translate}}</p>
        </div>
      </div>
    </div>
  </div>
</div>