.what-my-colleguas-say-component{
    display: flex;
    flex-direction: column;
    padding-top: 64px ;
}


.what-my-colleguas-say-title{
    display: flex;
    align-items: center;
    justify-content: center;

    h3{
        color: #89BCD9;
        font-size: 32px;
        font-family: 'Josefin Sans';
    }
}