.rezessionen-component {
    display: flex;
    justify-content: center;
    overflow-x: auto;

    flex-wrap: nowrap;
    gap: 16px;
    scroll-snap-type: x mandatory;
}

.rezessionen-content {
    flex: 0 0 auto;
    width: 400px;
    height: 400px;
    position: relative;
    background-image: url('/img/whatmycolleguessay/whatmycolleguesy-background.png');
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 8px;
    color: #F8F5EC;
    scroll-snap-type: start;

    span {
        width: 350px;
    }
}

h4 {
    margin-bottom: 0;
    font-family: 'Josefin Sans';
    font-weight: 600;
    font-size: 26px;
    color: #F8F5EC;
}

a {
    position: absolute;
    bottom: 100px;
    color: #89BCD9;
}

.rezessionen-text {
    width: 75%;

    span{
        font-family: 'Josefin Sans';
    }
}

.projekt-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.projekt-label {
    color: #F8F5EC;
    font-family: 'Josefin Sans';
    font-weight: 400px;
    font-size: 18px;
}

.projekt-name {
    color: #89BCD9;
    font-family: 'Joesfin Sans';
    font-weight: 400;
}

@media screen and (max-width: 1230px) {
    .rezessionen-component {
        align-items: flex-start;
        justify-content: flex-start;
    }
}

@media screen and (max-width: 500px) {
    .rezessionen-content {
        width: 300px;
        height: 300px;
        padding-top: 64px;
        background-size: contain;

        span {
            width: 280px;
            height: auto;
        }
    }

    a {
        bottom: 70px;
    }

    .what-my-colleguas-say-title-respo {
        align-items: flex-start;
    }
}