<div class="rezessionen-section">
    @for (item of rezessionen; track item.name) {
    <div class="rezessionen-content">
        <h4 class="name">{{item.name}} </h4>
        <div class="projekt-container">
            <p class="projekt-label">Projekt:</p>
            <p class="projekt-name">{{item.projekt}}</p>
        </div>
        <div class="rezessionen-text">
            <span class>{{item.rezession}}</span>
        </div>
        <a href="{{item.linkedin}}"> Link to Linkedin</a>
    </div>
    }
</div>