<div class="rezessionen-component">
    @for (item of rezessionen; track item.name) {
    <div class="rezessionen-content">
        <h4 class="name">{{item.name |translate}} </h4>
        <div class="projekt-container">
            <p class="projekt-label">{{'whatMyColleguasSay.projecttitle'|translate}}</p>
            <p class="projekt-name">{{item.projekt |translate}}</p>
        </div>
        <div class="rezessionen-text">
            <span class>{{item.rezession |translate}}</span>
        </div>
        <a href="{{item.linkedin}}"> Link to Linkedin</a>
    </div>
    }
</div>