:host{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.footer-component{
    width:100%;
    height: 214px;
    background-color: #89BCD9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.footer-about-me{
    display: flex;
    flex-direction: column;
    font-family: 'Josefin Sans';
    font-size: 18px;
    color: #262E34;

    a{
        text-decoration: none;
        color: #262E34;
    }
}

.fotter-links {
    display: flex;
    gap: 10px; 
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1440px;
    height: 104px;
    gap: 32px;
    
}


@media screen and (max-width: 640px) {
    :host{
        display: flex;
        justify-content: center;
    }
    .footer-component{
        flex-direction: column;
        height: 204px;
        padding-top: 16px;
    }

    .footer-content{
        width: 500px;
    }
}

@media screen and (max-width: 500px) {
    .footer-component{
        flex-direction: column;
        height: 350px;
        padding-top: 16px;
    }

    .footer-content{
        display: flex;
        flex-direction: column;
        gap: 0;
        width: 310px;
    }
}