<div class="footer-component">

    <div class="footer-about-me">
        <a href="/imprint">Legal Notice</a>
     <h4>Elias Herzog</h4>
    </div>

    <div class="footer-logo">
        <img src="/img/abovethefold/logo.png" alt="logo">
    </div>

    <div class="fotter-links">

        <a href="https://github.com/herzogelias/" target="_blank">
            
            <img src="/img/footer/github.png" alt="github">
        </a>

        <a href="mailto:contact@elias-herzog.de" target="_blank">
            <img src="/img/footer/mail.png" alt="email">
        </a>

        <a href="https://www.linkedin.com/in/elias-herzog-2b865728a/" target="_blank">
            <img src="/img/footer/linkedin.png" alt="linkedin">
        </a>
    </div>
</div>
